{% extends 'base.html' %} {% load static %} {% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="card card-body">
      <form action="" method="POST">
        {% csrf_token %}{{formset.management_form}}{% for form in formset %}
        {{form}}
        <hr />
        {% endfor %} {{form.as_p}}
        <input type="submit" name="Submit" />
      </form>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card-container">
      <div class="card">
        <img
          src="{% static 'images/making-food.jpg' %}"
          class="card-img-top"
          alt="someone baking"
        />
      </div>
    </div>
  </div>
</div>
{% endblock content %}
